#!/usr/bin/make -f

export DH_GOPKG := github.com/cupcake/rdb
export DH_GOLANG_EXCLUDES := examples

%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=_build

override_dh_auto_test:
	-dh_auto_test
